---

import Nav from '../components/Nav.astro';

export interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta property="og:title" content={title}>
		<meta property="og:type" content="article" />
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image}>
		<meta property="og:url" content="https://bostonrohan.com/">
		<meta name="twitter:card" content="summary_large_image">
		<title>{title}</title>
	</head>
	<body class="m-auto w-3/4 dark:bg-zinc-900 transition duration-300 ease-in-out">
		<Nav pages={["Home", "Blog"]} />
		<slot />
	</body>
</html>
