---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Projects from "../components/Projects.astro";

import blogs from "../utils/blogs";
import Card from "../components/Card.astro";
import Cal from "../components/react/Cal.tsx";
import { Icon } from "astro-icon/components";
import Experience from "../components/Experience.astro";

//TODO: better typesafety

export interface Project {
  name: string;
  isArchived: boolean;
  homepageUrl: string;
  description?: string | null;
  createdAt: string;
  updatedAt: string;
  url: string;
  latestRelease: { tagName: string } | null;
  languages: { edges: { node: { name: string } }[] };
  repositoryTopics: { edges: { node: { topic: { name: string } } }[] } | null;
  owner: { id: string };
}

const githubUsername = import.meta.env.GITHUB_USERNAME;

const response = await fetch("https://api.github.com/graphql", {
  method: "POST",
  headers: {
    "Content-Type": "application/vnd.github+json",
    Authorization: `Bearer ${import.meta.env.GITHUB_ACCESS_TOKEN}`,
  },
  body: JSON.stringify({
    query: `
    {
user(login: "${githubUsername}") {
    id
    avatarUrl
    pinnedItems(first: 4, types: REPOSITORY) {
      nodes {
        ... on Repository {
          name
          isArchived
          archivedAt
          homepageUrl
          description
          createdAt
          updatedAt
          url
          owner {
          id
          }
          latestRelease {
            tagName
          }
          languages(first: 3) {
            edges {
              node {
                name
              }
            }
          }
          repositoryTopics(first: 5) {
            edges {
              node {
                topic {
                  name
                }
              }
            }
          }
        }
      }
    }
  }
}
  `,
  }),
});

if (!response.ok) {
  console.error("Unable to get pinned items from Github API: ", response);
}

const json = await response.json();

if (json.errors) {
  console.error("Error fetching pinned items from Github API: ", json.errors);
}

const projects = json?.data?.user?.pinnedItems?.nodes.filter(
  (project: Project) => project.name !== "portfolio",
);

const githubUserId = json?.data?.user?.id;
---

<Layout>
  <main class="flex flex-col space-y-10">
    <Landing
      title="Boston Rohan"
      imageUrl={json?.data?.user?.avatarUrl}
      body="Self taught developer currently working at"
      links={[
        { text: "Elevation Church.", url: "https://elevationchurch.org/" },
        { text: "code,", url: "https://github.com/BostonRohan" },
        {
          text: "listen to music,",
          url: "https://open.spotify.com/user/12151292580?si=908c62d3ccc04bf3",
        },
        { text: "watch anime.", url: "https://anilist.co/user/bosston/" },
      ]}
      icons={[
        {
          type: "linkedin",
          url: "https://www.linkedin.com/in/bostonrohan/",
        },
        {
          type: "github",
          url: "https://github.com/BostonRohan",
        },
      ]}
    />
    {projects && <Projects githubUserId={githubUserId} projects={projects} />}
    <section id="blog" class="scroll-m-16">
      <h2 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 mt-5">
        Blog
      </h2>
      <p class="text-lg">a few thoughts I've had over the years</p>
      {
        blogs.map((blog) => {
          return (
            <a href={`/blog/${blog.title.replace(/\s+/g, "-").toLowerCase()}`}>
              <Card
                title={blog.title}
                body={blog.body}
                date={blog.date}
                extraInformation={`${blog.readTime} read`}
              />
            </a>
          );
        })
      }
    </section>
    <Experience
      jobs={[
        {
          title: "Elevation Church",
          roles: [
            {
              title: "Software Development Lead",
              tenure: "Jun 2025 —",
              current: true,
            },
            {
              title: "Full Stack Developer",
              tenure: "Jan 2024 — Jun 2025",
            },
            {
              title: "Web Developer",
              tenure: "Oct 2022 — Jan 2024",
            },
          ],
          tenure: "Oct 2022 —",
          current: true,
          icon: { type: "elevation" },
        },
        {
          title: "Storybutton",
          roles: [
            {
              title: "Software Engineer",
              tenure: "Jun 2024 - Apr 2025",
            },
          ],
          type: "Contract",
          icon: { type: "storybutton" },
        },
        {
          title: "Snapbrillia",
          roles: [
            {
              title: "Web Developer",
              tenure: "Jan 2022 - Apr 2022",
            },
          ],
          type: "Intern",
        },
      ]}
    />
    <section
      class="space-y-4 pb-16 scroll-mt-16 flex flex-col gap-4 text-center"
      id="contact"
    >
      <div class="space-y-1 text-center">
        <h2 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 mt-5">
          Contact me
        </h2>
        <p
          class="flex items-center gap-1 text-center justify-center flex-wrap text-lg"
        >
          Schedule a call below, or connect with me on <a
            href="https://www.linkedin.com/in/bostonrohan/"
            class="flex items-center gap-1 underline text-[#2572B1]"
            ><Icon name="linkedin" />LinkedIn</a
          > or <a
            href="https://github.com/BostonRohan"
            class="flex items-center gap-1 underline dark:text-neutral-300 text-slate-600"
            ><Icon name="github" />Github</a
          >.
        </p>
      </div>
      <Cal client:load />
    </section>
  </main>
</Layout>
