---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import PortfolioAssistant from "../components/react/PortfolioAssistant.tsx";

import blogs from "../utils/blogs";
import Card from "../components/Card.astro";
import Cal from "../components/react/Cal.tsx";
import { Icon } from "astro-icon/components";
import Experience from "../components/Experience.astro";
import { experienceJobs } from "../data/portfolio.js";
import { fetchPinnedGithubData } from "../utils/github.js";

//TODO: better typesafety

export interface Project {
  name: string;
  isArchived: boolean;
  homepageUrl?: string;
  description?: string | null;
  createdAt: string;
  updatedAt: string;
  url: string;
  latestRelease: { tagName: string } | null;
  languages: { edges: { node: { name: string } }[] };
  repositoryTopics: { edges: { node: { topic: { name: string } } }[] } | null;
  owner: { id: string };
}

const githubData = await fetchPinnedGithubData({
  githubUsername: import.meta.env.GITHUB_USERNAME,
  githubAccessToken: import.meta.env.GITHUB_ACCESS_TOKEN,
});

if (githubData.error) {
  console.error(githubData.error);
}

const projects: Project[] = githubData.projects;
const githubUserId = githubData.githubUserId;
const avatarUrl = githubData.avatarUrl;
---

<Layout>
  <main class="flex flex-col space-y-16" id="home">
    <PortfolioAssistant client:load imageUrl={avatarUrl} />
    {projects && <Projects githubUserId={githubUserId} projects={projects} />}
    <section id="blog" class="scroll-m-16">
      <h2 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 mt-5">
        Blog
      </h2>
      <p class="text-lg">a few thoughts I've had over the years</p>
      {
        blogs.map((blog) => {
          return (
            <a href={`/blog/${blog.title.replace(/\s+/g, "-").toLowerCase()}`}>
              <Card
                title={blog.title}
                body={blog.body}
                date={blog.date}
                extraInformation={`${blog.readTime} read`}
              />
            </a>
          );
        })
      }
    </section>
    <Experience jobs={experienceJobs} />
    <section
      class="space-y-4 pb-16 scroll-mt-16 flex flex-col gap-4 text-center"
      id="contact"
    >
      <div class="space-y-1 text-center">
        <h2 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 mt-5">
          Contact me
        </h2>
        <p
          class="flex items-center gap-1 text-center justify-center flex-wrap text-lg"
        >
          Schedule a call below, or connect with me on <a
            href="https://www.linkedin.com/in/bostonrohan/"
            class="flex items-center gap-1 underline text-[#2572B1]"
            ><Icon name="linkedin" />LinkedIn</a
          > or <a
            href="https://github.com/BostonRohan"
            class="flex items-center gap-1 underline dark:text-neutral-300 text-slate-600"
            ><Icon name="github" />Github</a
          >.
        </p>
      </div>
      <Cal client:load />
    </section>
  </main>
</Layout>
