---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Projects from "../components/Projects.astro";

import data from "../utils/projects";
import blogs from "../utils/blogs";
import Card from "../components/Card.astro";
---

<Layout>
  <main class="flex h-screen flex-col">
    <Landing
      title="Boston Rohan"
      body="Self taught Web Developer currently working at"
      links={[
        { text: "Elevation Church.", url: "https://elevationchurch.org/" },
        { text: "code,", url: "https://github.com/BostonRohan" },
        {
          text: "listen to music,",
          url: "https://open.spotify.com/user/12151292580?si=908c62d3ccc04bf3",
        },
        { text: "watch anime.", url: "https://anilist.co/user/bosston/" },
      ]}
      icons={[
        { type: "twitter", url: "https://twitter.com/BostonRohan" },
        { type: "instagram", url: "https://www.instagram.com/bosston.r/" },
        { type: "linkedin", url: "https://www.linkedin.com/in/bostonrohan/" },
      ]}
    />
    <Projects projects={data} />
    <section id="blog" class="pb-16">
      <h1 class="text-2xl font-bold dark:text-neutral-50 mt-5">Blog</h1>
      <h2 class="text-lg">a few thoughts I've had over the years</h2>
      {blogs.map((blog) => {
        return (
          <a href={`/blog/${blog.title.replace(/\s+/g, "-").toLowerCase()}`}>
            <Card
              title={blog.title}
              body={blog.body}
              date={blog.date}
              extraInformation={`${blog.readTime} read`}
            />
          </a>
        )
      })}
    </section>
  </main>
</Layout>
