---
import { Icon } from "astro-icon/components";

interface Role {
  title: string;
  tenure: string;
  current?: boolean;
}

interface Job {
  title: string;
  roles: Role[];
  current?: boolean;
  tenure?: string;
  type?: string;
  icon?: {
    type: string;
  };
}
export interface Props {
  jobs: Job[];
}

const { jobs } = Astro.props;
---

<section class="text-right scroll-m-16" id="experience">
  <h2 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 pt-16">
    Experience
  </h2>
  <p class="text-lg w-fit ml-auto pb-4">my professional experience</p>
  {
    jobs.map((job) => (
      <div>
        <hr class="opacity-40" />
        <div class="flex gap-1 flex-col items-start py-3">
          <div class="flex gap-1 items-center w-full">
            <section class="w-full">
              <div class="flex gap-1 items-center">
                {job?.icon?.type && <Icon name={job.icon.type} />}
                <h3 class="font-medium dark:text-neutral-200">{job.title}</h3>
              </div>
              {job.roles.map((role, i) => (
                <>
                  <div class="flex justify-between items-center gap-1 w-full">
                    <p class="text-left -ml-0.5 text-sm dark:text-neutral-300">
                      {job.roles.length > 1 ? "•" : ""}
                      {role.title}
                    </p>
                    {role.current ? (
                      <div class="flex flex-wrap gap-1 text-xs dark:text-neutral-400 text-slate-800">
                        <p>{role.tenure}</p>
                        <div class="flex gap-1">
                          <p>Current</p>{" "}
                          <div class="w-2 h-2 rounded-full bg-green-500 shadow-[0px_0px_24px_3px_rgba(0,201,80,1)]" />
                        </div>
                      </div>
                    ) : (
                      <p class="text-xs dark:text-neutral-400 text-slate-800">
                        {role.tenure}
                      </p>
                    )}
                  </div>
                  {i !== job.roles.length - 1 && (
                    <div class="border-solid w-[1px] h-5 border-[1px] opacity-50" />
                  )}
                </>
              ))}
            </section>{" "}
          </div>
          <p class="text-sm dark:text-neutral-400 text-slate-800">
            {job.type ?? "Full-Time"}
          </p>
        </div>
      </div>
    ))
  }
  <a
    href="https://docs.google.com/document/d/1BvBHf1BrVKDeNDExG4-vrVuik2-46lkkHsRJjDHbLyI/edit?usp=sharing"
    target="_blank"
    class="text-xs underline flex gap-1 ml-auto w-fit"
    >View full resume <Icon name="move-up-right" /></a
  >
</section>
