---
import { Icon } from "astro-icon/components";

export interface Props {
  title: string;
  body: string;
  imageUrl?: string;
  links: {
    text: string;
    url: string;
  }[];
  icons: {
    url: string;
    type: string;
  }[];
}

const { title, body, links, icons, imageUrl } = Astro.props;
---

<div class="w-full flex gap-2">
  <section class="w-full">
    <div
      class="flex sm:gap-6 w-full gap-4 h-fit items-center xl:flex-row flex-col"
    >
      <div
        class="flex flex-row sm:flex-nowrap flex-wrap items-center gap-4 mr-auto"
      >
        {
          imageUrl && (
            <img
              src={imageUrl}
              width="140px"
              height="140px"
              alt="Boston Rohan"
              class="rounded-full object-cover sm:w-[140px] w-[82px] h-[82px] sm:h-[140px]"
            />
          )
        }
        <h1
          class="md:text-5xl whitespace-nowrap text-4xl font-bold dark:text-neutral-50"
        >
          {title}
        </h1>
      </div>
      <div class="space-y-4 w-full">
        <p
          class="md:text-2xl text-xl xl:text-right xl:max-w-[515px] max-w-3xl xl:ml-auto"
        >
          {body}
          {
            links.map((link, i) => (
              <span>
                {i === 3 && "and"}{" "}
                <a
                  href={link.url}
                  aria-label={`Visit ${link.url} (External Link)`}
                  target="_blank"
                  class={`font-bold ${
                    i === 0
                      ? "dark:text-[#FF722F] text-[#9E3100]"
                      : "dark:text-neutral-300 text-black"
                  }  hover:underline`}
                >
                  {link.text}
                </a>{" "}
                {i === 0 && "I love to"}{" "}
              </span>
            ))
          }
        </p>
        <div class="flex gap-4 sm:justify-end">
          <a
            href="#contact"
            class="dark:bg-zinc-800 font-medium dark:hover:bg-zinc-800/50 bg-slate-200 hover:bg-slate-300 hover:border-slate-400 dark:hover:border-neutral-400 border-1 border-transparent transition sm:max-w-2xs text-center rounded-xl p-2 w-full"
            type="button">Connect with me</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
